.button {
  font-weight: 600;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.image-w100 {
  width: 100%;
  height: 70vh;
  /* z-index: -1; */
  position: absolute;
  bottom: 5rem;
  left: 0;
}

.image-top-fit{
  position: relative;
  top: -5rem;
}

.button-bottom {
  width: 100%;
}

.button-bottom-fit {
  position: relative;
  bottom: 4rem;
}

.counter {
  margin-left: 2rem !important;
  .ant-statistic-content {
    font-size: 0.9em;
    color: #3498db;
  }
}

.button-resend {
  font-size: 0.9em;
  color: #3498db;
  margin-left: 2rem !important;
}

.loginOptions  , .buttom-buttom-1{
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  left: 0;
}

.text-muted{
  color: #c4c4c4 !important;
}

.text-center{
  text-align: center;
}

.form-switch{
  position: relative;
  top: 0px;
  margin-bottom: 2rem !important;
}

@media (max-width: 480px) {
  .ant-steps-horizontal.ant-steps-label-horizontal {
    flex-direction: row !important;
  }
  .ant-steps-horizontal.ant-steps-label-horizontal
    > .ant-steps-item
    > .ant-steps-item-container
    > .ant-steps-item-tail {
    display: none;
  }
  .newuser-steps {
    .ant-steps-item-icon {
      margin-right: 0;
      width: 30px;
      height: 6px;
      background: #c4c4c4;
    }
    .ant-steps-item-tail {
      display: none !important;
    }
    .ant-steps-item-icon > .ant-steps-icon {
      display: none !important;
    }
  }
}
