// ITCSS Configuration

@import 'styles/generic';
@import 'styles/base';
@import 'styles/trumps';

.ant-col-16 {
  max-width: 100% !important;
  width: 100%;
}

.loaded:not(.has-error) {
  animation: loaded 300ms ease-in-out;
}

@keyframes loaded {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
