@breakpoint-md: 768px;
@breakpoint-lg: 992px;
@breakpoint-xl: 1200px;

body,
html {
  height: 100%;
}

body {
  background-color: #fff;
}

#root {
  height: 100%;
  .ant-layout {
    min-height: 100%;
  }
}

.main {
  height: 100%;
  margin: 0 auto;
  width: 50vw;
}

.main-container {
  margin: 0 auto;
}

.text-muted {
  color: #6b6b6b !important;
}

.custom-radio-group {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  .ant-radio-button-wrapper {
    border: 1px solid #d9d9d9 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    margin-bottom: 1rem;
    min-width: 40%;
    text-align: center;
  }

  .ant-radio-button-wrapper:first-child,
  .ant-radio-button-wrapper:last-child {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
  }
}
@media (max-width: @breakpoint-md) {
  .main {
    width: 100%;
  }
}
